<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mpteam">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rocket_symbol"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rocket_symbol"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EmotionStaticsActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".LoginActivityResume" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".FindActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Logout" />
        <activity android:name=".DiaryActivity4" />
        <activity android:name=".DiaryActivity3" />
        <activity android:name=".DiaryActivity2" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".MapActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCS2vgoSfPIGL19QgWrCsbx4CALL10nH-c" />
    </application>

</manifest>